<!DOCTYPE html>
{% extends "layout.html" %}
<meta http-equiv="refresh" content="15" />
{% block title %} Front page {% endblock %}
<p>
{% block content %}
<h2>Front page</h2>
Welcome, {{ session.username }} <br>
Current auction:
<p>
Time left: {{ timer }}s
<p>
<img src="/static/{{ item.item_id }}.png" alt="Current lot">
<p>
{{ item.name }} <br>
Current price: {{ item.price }}€ <br>
Highest bidder: {{ winner }} <br>
<form action="/bid_result" method="POST">
Bid: <br>
<input type="radio" name="bid" value="5" checked> 5€
<input type="radio" name="bid" value="10"> 10€
<input type="radio" name="bid" value="20"> 20€
<input type="submit" value="Submit">
</form>
<br>
Or an <b>increment</b> of your choice: (Only the number amount without fractions!)<br>
<form action="/bid_result" method="POST">
<input type="text" name="bid">
<input type="submit" value="Submit">
</form>
<br>
<hr>
<form action="/feedback_result" method="POST">
Send feedback: <br>
Topic: <input type="text" name="title"> <br>
Message: <br>
<textarea name="message" rows="5" cols="50"></textarea><br>
<input type="submit" value="Send">
</form>

{% endblock %}