<!DOCTYPE html>
<meta http-equiv="refresh" content="15" />
<title>Auction</title>
<h1>Auction house</h1>
<p>
Welcome, {{ session.username }} <br>
Current auction:
<p>
Time left: {{ timer }}s
<p>
<img src="/static/{{ item.item_id }}.png" alt="Current lot">
<p>
{{ item.name }} <br>
Current price: {{ item.price }}€ <br>
Highest bidder: {{ winner }} <br>
<form action="/bid_result" method="POST">
Bid: <br>
<input type="radio" name="bid" value="5" checked> 5€
<input type="radio" name="bid" value="10"> 10€
<input type="radio" name="bid" value="20"> 20€
<input type="submit" value="Submit">
</form>

<a href="/logout">Log out</a>
<p>
<a href="/mypage">My items</a>
